@media (min-width: 900px) {
  .container-banner {
    margin: 0 10px 20px 10px;
    padding-left: 1.5rem;
  }
}

@media (min-width: 900px) {
  .container-cards {
    margin-left: 1rem;
    border-radius: 2.5rem 0 0;
  }
}

@media (min-width: 1200px) {
  .article-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media (min-width: 971px) {
  .article-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: left;
    place-self: center;
    width: 60%;
  }
}

@media (max-width: 400px) {
  .article-container {
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .article {
    margin: 0 auto;
  }
}

@media (max-width: 961px) {
  .about-us-banner {
    margin: 0 0 20px 0;
  }
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Satisfy-Regular';
  src: url("../assets/fonts/Satisfy-Regular.woff2") format("woff2"), url("../assets/fonts/Satisfy-Regular.woff") format("woff");
}

body {
  font-family: "Montserrat-Regular";
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

/* Modules will scale with document */
nav {
  font-size: 1.5rem;
}

main {
  font-size: 1.0rem;
}

footer {
  font-size: 1.3rem;
}

/* Type will scale with modules */
h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2.0rem;
}

/*-------------- button home page banner -------------- */
.button {
  display: inline-block;
  background-color: transparent;
  padding: 1rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.button--banner {
  color: #2188ff;
  border: 1.0px solid #2188ff;
}

.button--banner:hover {
  border: 1px solid #c91258;
  color: white;
}

#email {
  border: 2px solid #244f8f;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.button--subscribe {
  background: linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  color: #06076e;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2rem;
  border: none;
}

/* ========================== 
   footer
   ========================== */
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 10px;
  background-image: linear-gradient(315deg, #0d324d 74%, #7f5a83 0%);
  padding: 0;
  text-align: center;
  place-items: center;
}

.footer-h1 {
  font-family: "Satisfy-Regular";
  background: -webkit-linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0 30px;
}

.footer-icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.footer-icons {
  height: 5rem;
  width: auto;
  padding: 10px 30px;
}

.footer-item-3 li {
  position: relative;
}

.footer-item-3 li::before {
  position: absolute;
  content: "";
  background-color: gray;
  height: 100%;
  width: 2px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-item-3 li:hover::before {
  color: red;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-item-4 h2 {
  color: #9e286b;
  margin-top: 0;
}

/* =============
   global styles
============= */
body,
html {
  margin: 0 auto;
  padding: 0;
  color: white;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

.page-wrapper-lg {
  max-width: 1200px;
  margin: 0 auto;
}

/* ============================
   navigation mobile
======================== */
@media screen and (max-width: 899px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    min-height: 50px;
    margin: 0 0 20px 0;
  }
  .nav-menu {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 0;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;
    background-color: #012a46;
    z-index: 2;
  }
  .nav-menu-item {
    font-size: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#2e8ac7), color-stop(70%, #00ff95));
    background: linear-gradient(90deg, #2e8ac7, #00ff95 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.3px solid white;
    padding: 30px 0 10px 0px;
    margin-left: 30px;
  }
  .nav-menu.open {
    -webkit-clip-path: circle(1000% at 100%);
            clip-path: circle(1000% at 100%);
    pointer-events: all;
  }
  .nav-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 55px;
    background-color: #e20fad;
  }
  .site-logo {
    background: url("../assets/images/site-logo.svg") no-repeat;
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: center;
    width: 190px;
    height: 25px;
    margin: 0;
    z-index: 3;
  }
  .mobile-menu-icon {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 20px;
    z-index: 3;
  }
  .bar {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #00f7ff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .transform .bar--1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px);
            transform: rotate(-45deg) translate(-9px, 8px);
  }
  .transform .bar--2 {
    opacity: 0;
  }
  .transform .bar--3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
            transform: rotate(45deg) translate(-3px, -3px);
  }
}

/* =====================
      navigation desktop
======================== */
@media screen and (min-width: 900px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 700px;
        grid-template-columns: auto 700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    min-height: 60px;
    margin: 20px 0 20px 20px;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .active a {
    color: #00f7ff;
  }
  .site-logo {
    background: url("../assets/images/site-logo.svg") no-repeat;
    height: 25px;
    width: auto;
    margin-left: 20px;
  }
  nav li {
    position: relative;
  }
  nav li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 20px;
    left: 0;
    background-color: #e52e71;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  nav li:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .mobile-menu-icon {
    display: none;
  }
}

nav a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ========================== 
   About us page
   ========================== */
.about-us-banner {
  background-color: #0d324d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  margin: 0 20px 20px 20px;
}

.about-us-banner-text {
  padding: 30px 10px 20px 10px;
  color: white;
  max-width: 600px;
  text-align: center;
}

.about-us-banner-text h1 {
  font-size: 2rem;
  border: 2px solid #26a0a0;
  border-radius: 10px;
  padding: 10px;
}

.about-us-banner-text p {
  line-height: 1.4em;
  font-size: 1.7em;
}

.time-line-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background-color: #0d324d;
  padding: 25px;
  gap: 10px;
  margin: 0 30px 20px 30px;
  border-radius: 10px;
}

.time-line-container::before {
  content: "";
  height: 10px;
  background: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 2;
  grid-row: 2;
  border-radius: 10px;
}

.time-line-text {
  border: 2px solid #26a0a0;
  color: white;
  border-radius: 10px 10px;
  padding: 0 10px 0 10px;
  min-height: 130px;
}

.time-line-text p {
  color: white;
  margin: 0 0 5px 0;
}

.time-line-text h2 {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  color: cyan;
}

.time-card-2 {
  padding-top: 15px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.time-card-3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.time-card-4 {
  padding-top: 15px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

.time-card-5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
}

@media (max-width: 1200px) {
  .time-line-container {
    display: none;
  }
}

.profile-container {
  display: -ms-grid;
  display: grid;
  background-color: #87848429;
  padding: 50px 30px;
  overflow: auto;
}

.profile-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-card {
  background-color: #114d70;
  -webkit-box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  min-width: 240px;
  z-index: 1;
}

.profile-card:not(:first-child) {
  margin-left: -4rem;
}

.profile-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.profile-card:hover ~ .profile-card {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
}

.profile-container p {
  color: #ebebeb;
  font-size: 1.2rem;
}

.time {
  position: relative;
}

.time::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  top: 35px;
  left: 2%;
  background-color: aqua;
}

.profile-cards h2 {
  color: white;
  font-size: 1.2rem;
}

.profile-title {
  padding: 5px 0;
  border: 1px solid white;
  border-radius: 2rem;
  text-align: center;
}

.profile-card-main {
  background-color: #0d324d;
  -webkit-box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 2rem;
  min-height: 350px;
  min-width: 240px;
  max-width: 240px;
  margin-right: 100px;
  text-align: center;
}

.profile-card-img {
  height: 75px;
  border: 2px solid #19c4c4;
  border-radius: 30px 10px;
  padding: 4px;
}

.profile-card-main p {
  margin-top: 5px;
}

.p-range {
  text-align: end;
  margin: 0;
  font-size: 1rem !important;
  padding-right: 5px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: #0d324d;
}

.html-bar,
.css-bar,
.javascript-bar,
.ux-design-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  bottom: 0%;
  border-radius: 10px;
  background: linear-gradient(40deg, #2e8ac7, #00e7ff 80%);
  -webkit-transition: 1.0s ease-in-out;
  transition: 1.0s ease-in-out;
}

.profile-card:hover .html-bar {
  width: 80%;
}

.profile-card:hover .css-bar {
  width: 60%;
}

.profile-card:hover .javascript-bar {
  width: 30%;
}

.profile-card:hover .ux-design-bar {
  width: 70%;
}

.skills {
  color: #19c4c4;
  text-align: left;
  margin-top: 50px;
}

.skills h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.skills ul li {
  display: inline-block;
  padding: 3px;
  border: 1px solid gainsboro;
  margin: 3px;
}

.skills ul {
  padding: 0;
}

/* ====================
   getting started page
 ====================*/
.container-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3rem;
      grid-template-areas: "article-header" "article-aside" "article-main" "article-footer";
}

.container-article .article-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: article-header;
}

.container-article .author-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: article-aside;
}

.container-article .article-image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: article-main;
}

.container-article .article-text {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: article-footer;
}

@media only screen and (min-width: 750px) {
  .container-article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-top: 5rem;
    padding: 2rem;
    gap: 1rem;
        grid-template-areas: "article-header article-main" "article-aside  article-aside  " " article-footer  article-footer";
  }
  .container-article .article-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article-header;
  }
  .container-article .author-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article-header;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container-article .article-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: article-main;
  }
  .container-article .article-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: article-footer;
    margin-top: 3rem;
  }
}

.container-article {
  background: #ebe6e6;
  border-radius: 1rem;
  padding: 2rem;
}

.container-article a:hover {
  border-bottom: 2px solid;
}

.container-article h1,
h2 {
  color: #405972;
}

.container-article h1 {
  margin: 0;
}

.container-article p {
  color: #54718f;
  line-height: 1.5;
}

.author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-laptop {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.blog-img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0d324d;
  margin-right: 1rem;
}

.article-text {
  font-size: 1.8rem;
  line-height: 2rem;
}

.article-text a {
  font-weight: bolder;
  color: #54718f;
}

.article-text h2 {
  font-family: "Montserrat-Bold";
  margin-top: 6rem;
}

/* ========================
   home page banner
   ======================== */
.container-banner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
  min-height: 30vh;
  margin-bottom: 2.5rem;
  margin: 1.0rem;
  border-radius: 2.5rem;
}

.container__banner {
  padding: 2rem 2rem 3rem;
}

.container__banner h1 {
  font-size: 5rem;
  margin: 2rem 0 1rem;
}

.container__banner-h1 {
  text-decoration: underline;
}

.container__banner-p {
  border-bottom: 0.2rem solid white;
  display: inline-block;
  padding-bottom: 1rem;
  min-width: 40vw;
}

/* ========================
     home page cards
======================== */
.container-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  place-items: center;
  gap: 3.5rem;
  padding: 2rem;
  margin-bottom: 2.5rem;
  background-color: #288ee2;
}

.card {
  min-width: 350px;
  background-color: #0d324d;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  text-align: center;
}

.card:hover {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover h2 {
  color: #09cff1;
}

.card h2 {
  display: inline-block;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
  margin: 2rem 1rem;
  min-width: 90%;
  font-size: 2.2rem;
  color: white;
}

.card p {
  display: inline-block;
  margin: 0;
  color: white;
}

.card ul {
  padding: 0;
}

.card li {
  padding: 1rem 0 1rem;
}

.card p:hover {
  color: #3ed3e7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-3 p {
  padding-left: 3rem;
}

.card-4 p {
  padding-left: 3rem;
}

/* ========================== 
      card icons
 ========================== */
.icon-card {
  height: 2.5rem;
  width: auto;
  margin-right: 1.8rem;
  float: right;
}

/* ========================== 
   learn code page
   ========================== */
#dark-mode {
  background: #000;
}

.dark-code-nav {
  margin: 0;
}

.dark-code-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 5rem;
  background-color: #00f7ff;
}

.container-main-gs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 40rem auto;
      grid-template-rows: auto 40rem auto;
  row-gap: 2rem;
      grid-template-areas: "page__header-gs" "container__box-lg" "container-code-snippet" "container__cards-gs" "container__codepen";
}

@media (min-width: 1200px) {
  .container-main-gs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 20rem auto auto auto auto;
        grid-template-rows: 20rem auto auto auto auto;
        grid-template-areas: "header header ..." " main main aside" "footer-top footer-top footer-top" "footer-bottom footer-bottom footer-bottom";
  }
  .container-main-gs .page__header-gs {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container-main-gs .container__box-lg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
  }
  .container-main-gs .container-code-snippet {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: aside;
  }
  .container-main-gs .container__cards-gs {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer-top;
  }
  .container-main-gs .container__codepen {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer-bottom;
  }
}

.page__header-gs h1 {
  font-size: 4.5rem;
  margin: 0;
  padding-left: 2rem;
  background: -webkit-linear-gradient(45deg, #8d31c7 30%, #743ad5 30%, #d53a9d 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__heading {
  margin: 4rem 0 0 3rem;
}

.container__box-lg {
  height: 100%;
  width: 95%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;
}

.container__box-lg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.container__box-lg li {
  width: 30%;
}

.container__box-lg p {
  text-transform: uppercase;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 5px 1rem;
  text-align: center;
}

.container-lg-icon {
  position: relative;
  top: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 8rem;
  width: auto;
}

.container__cards-gs {
  position: relative;
  background-color: #0c0c0c;
  border: 5px solid transparent;
  border-left-width: 0;
  border-top-right-radius: 1rem;
  background-clip: content-box;
}

.container__cards-gs::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px -5px 0 0;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(#00c4cb));
  background: linear-gradient(to right, #d53a9d, #00c4cb);
}

.container__codepen {
  position: relative;
  background-color: #0c0c0c;
  border: 5px solid transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-clip: content-box;
}

.container__codepen::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px 0 -5px -5px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(#00c4cb));
  background: linear-gradient(to right, #d53a9d, #00c4cb);
}

/* ======================== This is for the container with code snippets  ======================== */
.container-code-snippet {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 90%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;
}

.code-snippet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code-snippet-html {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 1rem;
  left: 1rem;
}

.code-snippet-css {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 6rem;
  right: 3rem;
}

.code-snippet-js {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 10rem;
  left: 1rem;
}

.mac-screen-icon {
  -ms-grid-row: 1;
  grid-row: 1;
  width: auto;
  height: 1rem;
  margin-left: 1rem;
}

.code-snippet-grid h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  color: white;
}

.code-snippet-grid p {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

/* ======================== cards container  ======================== */
.tech-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px;
  overflow: auto;
}

.tech-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f1d1d;
  -webkit-box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  min-width: 25rem;
  max-width: 25rem;
  height: 40rem;
}

.tech-card:not(:first-child) {
  margin-right: -8rem;
}

.tech-card:hover ~ .tech-card {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.tech-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.tech-card h2 {
  text-align: center;
  color: white;
}

.tech-card p {
  font-size: 1.7rem;
  padding: 1.5rem 0 0 1rem;
}

.tech-icon {
  height: 4rem;
  width: auto;
}

.go-icon {
  height: 6rem;
  width: auto;
}

.button-tech {
  margin-top: auto;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 5px 0 5px 0;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-tech:hover {
  color: #2188ff;
}

/* ======================== codepen container  ======================== */
.codepen-editor {
  padding: 5rem;
}
/*# sourceMappingURL=main.css.map */