@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
}

body {
  font-family: "Montserrat-Regular";
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

/* Modules will scale with document */
nav {
  font-size: 1.5rem;
}

main {
  font-size: 1.7rem;
}

footer {
  font-size: 1.3rem;
}

/*-------------- button home page banner -------------- */
.button {
  padding: 1rem;
  background: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.button--banner {
  color: #b5d5e3;
  border: 3.0px solid #5481b5;
}

.button--banner:hover {
  border: 3px solid #c91258;
  color: white;
}

.subscribe-container {
  padding-top: 2rem;
  position: relative;
  height: 20rem;
  width: 38rem;
  padding: 3rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125);
  background-color: #FFF;
  color: #333;
}

.subscribe-container h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 3rem;
}

.submit-btn {
  position: absolute;
  right: -1rem;
  bottom: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-color: #336d97;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  color: #FFF;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
          box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.submit-btn:after {
  position: relative;
  content: "";
  right: -2.5rem;
  bottom: 3.85rem;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #336d97;
}

.submit-btn:hover {
  background-color: #52a0c1;
}

.subscribe-container input {
  position: absolute;
  bottom: 3rem;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 1rem;
  width: 55%;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  background: transparent;
  font-size: 1.5rem;
}

.subscribe-container input:focus {
  outline: none;
  border-bottom: 1px solid #52a0c1;
}

#subscribe-container-dark {
  background-color: #1f1d1d;
}

#subscribe-container-dark h2 {
  color: white;
}

#subcribe-input-dark {
  color: white;
}

/* ========================== 
   footer
   ========================== */
.footer-wrapper {
  background-image: url("../assets/images/icons/wave.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 25rem 10rem;
      grid-template-rows: 25rem 10rem;
  max-width: 160rem;
  padding: 1rem;
  padding-top: 5rem;
  margin: auto;
}

.footer-nav-links h1 {
  font-size: 2.3rem;
  color: #52a0c1;
}

.footer-nav-links li {
  padding-bottom: 5px;
}

.footer-nav-links li a {
  font-size: 2.0rem;
  color: white;
}

.footer-nav-links a:hover {
  color: #b4d4e7;
}

.footer-nav-links h1 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}

.footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons li {
  padding: 1rem;
}

.footer-icons-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-logo-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-logo {
  display: block;
  background: url("../assets/images/icons/site-logo.svg") no-repeat;
  height: 3rem;
  width: 20rem;
}

/* =============
   global styles
============= */
body,
html {
  margin: 0 auto;
  padding: 0;
  color: white;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* ul {
  padding: 0;
}

.page-wrap {
  max-width: 150rem;
  margin: 0 auto;
  padding: 1rem;
}

.page-wrap-blog {
  max-width: 130rem;
  margin: auto;
  padding: 1rem;
}

.nav-wrapper {
  max-width: 160rem;
  margin: 0 auto;
}

/* ============================
   navigation mobile
======================== */
@media screen and (max-width: 899px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
  }
  .nav-links {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 0;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;
    background-color: #1a1c1d;
    z-index: 2;
  }
  .nav-links li {
    font-size: 2rem;
    padding: 30px 0 10px 0px;
    margin-left: 30px;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1000% at 100%);
            clip-path: circle(1000% at 100%);
    pointer-events: all;
  }
  .nav-links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 55px;
    background-color: #425778;
  }
  .site-logo {
    background: url("../assets/images/icons/site-logo.svg") no-repeat;
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: center;
    width: 190px;
    height: 25px;
    margin: 0;
    z-index: 3;
  }
  .mobile-menu {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 20px;
    z-index: 3;
  }
  .bar {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #00f7ff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .transform .bar--1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px);
            transform: rotate(-45deg) translate(-9px, 8px);
  }
  .transform .bar--2 {
    opacity: 0;
  }
  .transform .bar--3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
            transform: rotate(45deg) translate(-3px, -3px);
  }
}

/* =====================
      navigation desktop
======================== */
@media screen and (min-width: 900px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50rem;
        grid-template-columns: auto 50rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 6rem;
    margin: 2rem 0 2rem 2rem;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .active a {
    color: #00f7ff;
  }
  .site-logo {
    background: url("../assets/images/icons/site-logo.svg") no-repeat;
    height: 25px;
    width: auto;
    margin-left: 20px;
  }
  .mobile-menu {
    display: none;
  }
}

.nav-links li {
  position: relative;
}

.nav-links li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #e52e71;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-links li:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dark-code-nav {
  background-image: none;
}

.dark-code-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 5rem;
  background-color: #00f7ff;
}

#header-standard {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

/* ====================
   getting started page
 ====================*/
.container-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3rem;
      grid-template-areas: "article-header" "article-aside" "article-main" "article-footer";
}

.container-article .article-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: article-header;
}

.container-article .author-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: article-aside;
}

.container-article .article-image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: article-main;
}

.container-article .article-text {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: article-footer;
}

.container-article {
  background: #ebe6e6;
  border-radius: 1rem;
  padding: 2rem;
}

.container-article a:hover {
  border-bottom: 2px solid;
}

.container-article h1,
h2 {
  color: #405972;
}

.container-article h1 {
  margin: 0;
}

.container-article p {
  color: #54718f;
  line-height: 1.5;
}

.author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-laptop {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.blog-img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0d324d;
  margin-right: 1rem;
}

.article-text {
  font-size: 1.8rem;
  line-height: 2rem;
}

.article-text a {
  font-weight: bolder;
  color: #54718f;
}

.article-text h2 {
  font-family: "Montserrat-Bold";
  margin-top: 6rem;
}

/* ========================
   home page banner
   ======================== */
.container-hero-banner {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-image: linear-gradient(315deg, #edeeff 0%, #0d324d 74%);
  min-height: 40vh;
  margin: 3rem 0 5rem 0;
  padding: 1.5rem;
}

.container-hero-content {
  -ms-grid-column: 2;
  grid-column: 2;
}

.container-hero-content h1 {
  font-size: 6.5rem;
  margin: 2rem 0 1rem;
}

.container__banner-h1 {
  text-decoration: underline;
}

.container__banner-p {
  border-bottom: 0.2rem solid white;
  display: inline-block;
  padding-bottom: 1rem;
  min-width: 40vw;
}

/* ========================== list item grid items ========================== */
.content-grid {
  padding-top: 5rem;
}

.grid-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
      grid-template-areas: "area-1 area-2 .. .." "area-4 area-5 .. ..";
}

.grid-gallery li {
  width: 100%;
  height: 40rem;
  background-position: center;
  background-image: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
}

.grid-gallery li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.grid-gallery li:hover::before {
  opacity: 1;
}

.grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area-1;
  background-image: url("../assets/images/luke-chesser-3rWagdKBF7U-unsplash.jpg");
}

.grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area-2;
  background-image: url("../assets/images/simon-migaj-Yui5vfKHuzs-unsplash.jpg");
  margin-top: 20rem;
  right: 50px;
  grid-column: span 2;
}

.grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area-4;
  background-image: url("../assets/images/luke-chesser-3rWagdKBF7U-unsplash.jpg");
  bottom: 7rem;
  min-width: 35rem;
}

.outline-text {
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  right: 7rem;
  text-transform: uppercase;
  font-size: 4rem;
  color: #b4ebf1;
}

/* ========================  cards  ======================== */
.cards-header {
  font-family: "IBM Plex Sans", sans-serif;
  color: gray;
}

.container-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: 3rem 0 15rem 0;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 20rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px;
          box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.card-right-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.card-left-side {
  padding: 1rem;
}

.icon-html {
  fill: #37206d;
}

.icon-css {
  fill: #ff3c00;
}

.icon-js {
  fill: #dcdc4d;
}

.icon-twitter {
  fill: #0202a2;
}

.icon-github {
  fill: #37206d;
}

.icon-footer {
  width: 4rem;
  height: 4rem;
  fill: #52a0c1;
}

.icon-footer:hover {
  fill: #2bc6e2;
  border: 2px solid transparent;
}

.icon-large-cards {
  width: 8rem;
  height: 8rem;
}

.icon-small-cards {
  width: 3rem;
  height: 3rem;
}

.card-icon-html {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  place-self: center;
  -ms-grid-row: 2;
  grid-row: 2;
}

.card-icon-twitter {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  padding-right: 4rem;
}

.card-icon-github {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 5px;
}

.card-text-xs {
  grid-row: third-line / 3;
  -ms-grid-column: 3;
  grid-column: 3;
  text-transform: uppercase;
  background-color: #7f5a83;
  -webkit-clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
  padding: 5px;
  border-radius: 0 0 1rem;
  text-align: center;
}

.card:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) -1rem 1rem 4rem;
          box-shadow: rgba(0, 0, 0, 0.125) -1rem 1rem 4rem;
}

.card:hover h2 {
  color: #09cff1;
}

.card-heading h1 {
  display: inline-block;
  border-bottom: 5px solid #37206d;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #333333;
}

.card p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: black;
}

.card ul {
  padding: 0;
}

.card li {
  padding: 1rem 0 1rem;
}

.card p:hover {
  color: #3ed3e7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-3 p {
  padding-left: 3rem;
}

.card-4 p {
  padding-left: 3rem;
}

@media only screen and (max-width: 1630px) {
  .grid-item-1 {
    min-width: 30rem;
  }
  .grid-item-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: area-5;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media only screen and (max-width: 700px) {
  .grid-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
        grid-template-areas: "area-1" "area-2";
  }
  .grid-item-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: area-2;
    right: 0;
    margin-top: 0;
  }
  .grid-item-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: area-1;
  }
}

@media only screen and (max-width: 700px) {
  .outline-text {
    right: 0;
  }
}

/* ========================== 
   learn code page
========================== */
#dark-mode {
  background: #000;
}

.dark-text h1 {
  background: -webkit-linear-gradient(45deg, #8d31c7 30%, #743ad5 30%, #d53a9d 80%);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-main-gs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 40rem auto;
      grid-template-rows: auto 40rem auto;
  row-gap: 3rem;
      grid-template-areas: "header" "aside" "main" "footer-top" "footer-bottom";
}

.container-main-gs .page__header-gs {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.container-main-gs .container__box-lg {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
}

.container-main-gs .container-code-snippet {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.container-main-gs .container__cards-gs {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer-top;
}

.container-main-gs .container__codepen {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer-bottom;
}

@media (min-width: 1000px) {
  .container-main-gs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 20rem auto auto auto auto;
        grid-template-rows: 20rem auto auto auto auto;
        grid-template-areas: "header header ..." " main main aside" "footer-top footer-top footer-top" "footer-bottom footer-bottom footer-bottom";
  }
  .container-main-gs .page__header-gs {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container-main-gs .container__box-lg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
  }
  .container-main-gs .container-code-snippet {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: aside;
  }
  .container-main-gs .container__cards-gs {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer-top;
  }
  .container-main-gs .container__codepen {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer-bottom;
  }
}

.page__header-gs h1 {
  font-size: 4.5rem;
  padding-left: 2rem;
  background: -webkit-linear-gradient(45deg, #8d31c7 30%, #743ad5 30%, #d53a9d 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__heading {
  margin: 4rem 0 0 3rem;
}

.container__box-lg {
  height: 100%;
  width: 95%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;
}

.container__box-lg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.container__box-lg li {
  width: 30%;
}

.container__box-lg p {
  text-transform: uppercase;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 5px 1rem;
  text-align: center;
}

.container-lg-icon {
  position: relative;
  top: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 8rem;
  width: auto;
}

.container__cards-gs {
  position: relative;
  background-color: #0c0c0c;
  border: 5px solid transparent;
  border-left-width: 0;
  border-top-right-radius: 1rem;
  background-clip: content-box;
}

.container__cards-gs::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px -5px 0 0;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(#00c4cb));
  background: linear-gradient(to right, #d53a9d, #00c4cb);
}

.container__codepen {
  position: relative;
  background-color: #0c0c0c;
  border: 5px solid transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-clip: content-box;
}

.container__codepen::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px 0 -5px -5px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(#00c4cb));
  background: linear-gradient(to right, #d53a9d, #00c4cb);
}

/* ======================== This is for the container with code snippets  ======================== */
.container-code-snippet {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 90%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;
}

.code-snippet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code-snippet-html {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 1rem;
  left: 1rem;
}

.code-snippet-css {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 6rem;
  right: 3rem;
}

.code-snippet-js {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  -webkit-box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
          box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6);
  text-align: center;
  bottom: 10rem;
  left: 1rem;
}

.mac-screen-icon {
  -ms-grid-row: 1;
  grid-row: 1;
  width: auto;
  height: 1rem;
  margin-left: 1rem;
}

.code-snippet-grid h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  color: white;
}

.code-snippet-grid p {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

/* ======================== cards container  ======================== */
.tech-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px;
  overflow: auto;
}

.tech-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f1d1d;
  -webkit-box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  min-width: 25rem;
  max-width: 25rem;
  height: 40rem;
}

.tech-card:not(:first-child) {
  margin-right: -8rem;
}

.tech-card:hover ~ .tech-card {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.tech-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.tech-card h2 {
  text-align: center;
  color: white;
}

.tech-card p {
  font-size: 1.7rem;
  padding: 1.5rem 0 0 1rem;
}

.tech-icon {
  height: 4rem;
  width: auto;
}

.go-icon {
  height: 6rem;
  width: auto;
}

.button-tech {
  margin-top: auto;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 5px 0 5px 0;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-tech:hover {
  color: #2188ff;
}

/* ======================== codepen container  ======================== */
.codepen-editor {
  padding: 2rem;
}

@media (min-width: 900px) {
  .container-banner {
    margin: 0 10px 20px 10px;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .article-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media (min-width: 971px) {
  .article-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: left;
    place-self: center;
    width: 60%;
  }
}

@media (max-width: 400px) {
  .article-container {
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .article {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1630px) {
  .grid-item-1 {
    min-width: 30rem;
  }
  .grid-item-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: area-5;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media only screen and (max-width: 700px) {
  .grid-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
        grid-template-areas: "area-1"  "area-2";
  }
  .grid-item-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: area-2;
    right: 0;
    margin-top: 0;
  }
  .grid-item-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: area-1;
  }
}

@media only screen and (max-width: 700px) {
  .outline-text {
    right: 0;
  }
}

@media only screen and (max-width: 800px) {
  .footer-container {
    justify-items: center;
    gap: 2rem;
    -ms-grid-rows: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-nav-links li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .subscribe-container {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .footer-icons {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer-logo-container {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .subscribe-container {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    margin-bottom: 3rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media only screen and (min-width: 750px) {
  .container-article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 5rem 0 8rem 0;
    padding: 2rem;
    gap: 1rem;
        grid-template-areas: "article-header article-image" " article-footer  article-footer";
  }
  .container-article .article-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article-header;
  }
  .container-article .author-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article-header;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container-article .article-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: article-image;
  }
  .container-article .article-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: article-footer;
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */