/* table of contents
  1. global styles
  2. typography
  2. navigation styles
  3. navigation styles Mobile
  4. home page banner
     home page cards
  4. componants
  5  media quiers
     
    1. Navigation
    2.
    3.
    4.
    5.
 */

/* =============
   global styles
   ============= */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap'); // Main body text
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); // Footer
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Ubuntu+Mono&display=swap'); // Logo

body,
html {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
}

:any-link {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* ul li {
  list-style: none;
}

/* =============
      typograpgy
      ============= */

h1,
h2,
h3,
p {
  font-weight: normal;
}

p {
  font-size: 1.2rem;
}


/* =====================
      navigation desktop
      ================= */

nav {
  position: relative;
  display: grid;
  grid-template-columns: auto 700px;
  align-items: center;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  max-width: 100%;
  min-height: 60px;
  margin: 20px 0 20px 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.0em;
  letter-spacing: 0.1em;
}

.site-logo {
  position: relative;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.4rem;
  text-transform: none;
  margin-left: 20px;
  color: rgb(0, 247, 255);
  z-index: 3;
  margin-left: 20px;
}

.site-logo h1 {
  margin: 0;
}

@media (min-width: 992px) {

  // This is for underline transition effect
  nav li {
    position: relative;
  }

  nav li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 20px;
    left: 0;
    background-color: #e52e71;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  nav li:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .active a {
    color: rgb(0, 247, 255)
  }
}

/* ========================
       navigation styles mobile
 ======================== */

.nav-icon {
  position: relative;
  float: right;
  margin-right: 20px;
  font-size: 2em;
  color: white;
  z-index: 2;
}

.nav-icon:hover {
  color: #5ed9ff
}

.nav-icon:active {
  font-size: 2.2em;
  color: #8e3e7d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.social-icons-nav {
  display: flex;
  justify-content: center;
}

/* ========================
   home page banner
   ======================== */

.container-banner {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
  padding: 20px 20px;
  min-height: 35vh;
  padding-top: 50px;
  margin-bottom: 25px;
  margin-left: 20px;
  border-radius: 25px;
}

.banner h1 {
  margin-left: 20px;
  font-size: 3.0rem;
}

.banner-text-h1 {
  text-decoration: underline;
}

.banner p {
  margin-left: 20px;
  font-size: 1.5em;
  color: white;
}

.banner-border {
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
  min-width: 40vw;
}

/* ========================
   home page cards
   ======================== */

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 50px;
  padding: 50px;
  background-color: #288ee2;
  border-radius: 25px 0 0 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
  background-color: #0d324d;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  color: white;
  text-align: center;
}

.card:hover {
  transform: translate(0px, -10px);
  transition: 0.3s;

  h3 {
    color: rgb(9, 207, 241);
    ;
  }
}

.card h3 {
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
  min-width: 90%;
}

.card p {
  font-size: 1.5em;
  color: white;
}

.card ul {
  padding: 0;
}

.card-icons {
  float: right;
  margin-right: 20px;
  font-size: 1em;
  border-radius: 25px 0;
}

.card p:hover {
  color: #3ed3e7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-3 p {
  padding-left: 30px;
}

.card-4 p {
  padding-left: 40px;
}

/* ====================
   getting started page
   ====================*/

.article {
  background-color: rgba(rgb(112, 110, 110), 0.2);
  margin-left: 20px;
  border-radius: 25px 0 0 0;
}

.article-container {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto auto;
  gap: 40px 50px;
  padding: 0 50px 0 50px;
  max-width: 1600px;
}

.article-container h1,
h2 {
  color: #1b688f;
}

.article-text h2 {
  padding-top: 20px;
  margin: 0;
}

.img-laptop {
  height: auto;
  width: 90%;
  margin-top: 18.5px;
  min-width: 70%;
}

@media (min-width: 1200px) {
  .article-container {
    grid-template-columns: 600px auto;
    grid-template-rows: auto;
  }
}

@media (min-width: 971px) {
  .article-text {
    grid-column: 1 / span 2;
    text-align: left;
    place-self: center;
    width: 60%;
  }
}

.blog-container {
  border-bottom: 5px solid #1a75a1;
  font-size: 1.3rem;
}

.blog-container p {
  margin-bottom: 2px;
}

.blog-img {
  position: relative;
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0d324d;
  padding: 5px;
  z-index: -1;
}

.article-text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #555454;
}

.article a {
  color: #1b688f;
  font-weight: bold;
}

@media (max-width: 400px) {
  .article-container {
    grid-template-columns: 350px;
    justify-content: center;
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .article {
    margin: 0 auto;
  }
}



/* ========================== 
   footer
   ========================== */

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  background-image: linear-gradient(315deg, #0d324d 74%, #7f5a83 0%, );
  // margin-top: 25px;
  padding: 0;
  text-align: center;
  place-items: center; //effects color of text
}


.footer-h1 {
  font-family: 'Satisfy', cursive;
  background: -webkit-linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-form {
  padding: 0;
}

label {
  display: block;
  color: white;
  margin: 0 0 4px;
}

input {
  border: #000;
  padding: 5px;
  font-size: 1.2em;
}

.subscribe-button {
  background: linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  color: rgb(6, 7, 110);
  margin-top: 0;
}

#email {
  text-transform: lowercase;
}

.social-icons {
  color: white;
  display: flex;
  padding: 0px 15px 0 15px;
  font-size: 1.5em;
}


.footer-item-4 p {
  font-size: 1.2em;
  background: linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
}


/* ========================== 
   learn code page
   ========================== */

.codepen-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 600px;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

.codepen-header {
  place-self: center;
  margin: 50px 0 20px 0;
  min-width: 50%;
}

.codepen-header h1 {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #e52e71;
  border-radius: 10px;
  background-color: #0d324d;
  color: white;
}

.codepen-text p {
  display: inline-block;
  border: 5px solid rgb(0, 66, 128);
  color: indigo;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.html-png {
  width: 80%;
  height: auto;
}

.css-png {
  width: 77%;
  height: auto;
}

.codepen-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 15px;
}

/* ========================== 
   About us page
   ========================== */

.time-line-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: #0d324d;
  padding: 25px;
  gap: 10px;
  margin: 0 30px 20px 30px;
  border-radius: 10px;
}

.time-line-container::before {
  content: "";
  height: 10px;
  background: #ffffff;
  grid-column: 1 / span 5;
  grid-row: 2;
  border-radius: 10px;
}

.time-line-text {
  border: 2px solid #26a0a0;
  color: white;
  border-radius: 10px 10px;
  padding: 0 10px 0 10px;
  min-height: 130px;
}

.time-line-text p {
  color: white;
  margin: 0 0 5px 0;
}

.time-line-text h2 {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  color: cyan;
}

.time-card-2 {
  padding-top: 15px;
  grid-row: 2;
  grid-column: 2;
}

.time-card-3 {
  grid-row: 1;
  grid-column: 3;
}

.time-card-4 {
  padding-top: 15px;
  grid-row: 2;
  grid-column: 4;
}


.time-card-5 {
  grid-row: 1;
  grid-column: 5;
}

@media (max-width: 1600px) {
  .time-line-container {
    display: none;
  }
}

.profile-container {
  display: grid;
  background-color: #87848429;
  padding: 50px 30px;
  overflow: auto;
}

.profile-cards {
  display: flex;
  flex-direction: row;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}

//profile card css source --> Chris Coyer https://css-tricks.com/video-screencasts/171-movable-stacked-card-row-in-css/

.profile-card {
  background-color: rgb(17, 77, 112);
  box-shadow: 3px 3px 12px 2px rgba(black, 0.75);
  padding: 1.5rem;
  border-radius: 2rem;
  transition: 0.2s;
  min-width: 240px;
  z-index: 1;
}

.profile-card:not(:first-child) {
  margin-left: -4rem;
}

.profile-card:hover {
  transform: translateY(-1rem)
}

.profile-card:hover~.profile-card {
  // (~) targets cards adjacent to cards selected
  transform: translateX(4rem);
}

.profile-container p {
  color: #ebebeb;
  font-size: 1.2rem;
}

.time {
  position: relative;
}

.time::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  top: 35px;
  left: 2%;
  background-color: aqua;
}

.profile-cards h2 {
  color: white;
  font-size: 1.2rem;
}

.profile-title {
  padding: 5px 0;
  border: 1px solid white;
  border-radius: 2rem;
  text-align: center;
}

.profile-card-main {
  background-color: #0d324d;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.75);
  padding: 2rem;
  border-radius: 2rem;
  min-height: 350px;
  min-width: 240px;
  max-width: 240px;
  margin-right: 100px;
  text-align: center;
}

.profile-card-img {
  height: 100px;
  border: 3px solid #19c4c4;
  border-radius: 30px 10px;
  padding: 4px;
}

.profile-card-main p {
  margin-top: 5px;
}

#p-range {
  text-align: end;
  margin: 0;
  font-size: 1.0rem;
  padding-right: 5px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: #0d324d;
}

.html-bar,
.css-bar,
.javascript-bar,
.ux-design-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  bottom: 0%;
  border-radius: 10px;
  background: linear-gradient(40deg, #2e8ac7, #00e7ff 80%);
  transition: 1.0s ease-in-out;
}

.profile-card:hover {
  & .html-bar {
    width: 80%;
  }

  & .css-bar {
    width: 60%;
  }

  & .javascript-bar {
    width: 30%;
  }

  & .ux-design-bar {
    width: 70%;
  }
}

.skills {
  color: #19c4c4;
  text-align: left;
  margin-top: 50px;
}

.skills h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.skills ul li {
  display: inline-block;
  padding: 3px;
  border: 1px solid gainsboro;
  margin: 3px;
}

.skills ul {
  padding: 0;
}

/* ========================== 
   About us page
   ========================== */

.about-us-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.about-us-banner {
  background-color: #0d324d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.about-us-banner-text {
  padding: 30px 10px 20px 10px;
  color: white;
  max-width: 600px;
  text-align: center;
}

.about-us-banner-text h1 {
  font-size: 3.0em;
  border: 2px solid #26a0a0;
  border-radius: 10px;
}

.about-us-banner-text p {
  line-height: 1.4em;
  font-size: 1.7em;
}

/* =============
   componants
   ============= */

/*-------------- button banner home page-------------- */

.button {
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  margin-left: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}

.button1 {
  color: #2188ff;
  border: 1.5px solid #2188ff;
}

.button1:hover {
  border: 1.5px solid rgb(201, 18, 88);
  color: white;
}

/* =============
   Media quiries
   ============= */

/*-------------- container banner-------------- */





/*-------------- cards -------------- */


/*-------------- footer form -------------- */

@media (max-width: 600px) {
  .footer-form {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .subscribe-button {
    margin: 10px 0 0 130px;
    text-align: center;
  }
}

/*-------------- getting started -------------- */




/*-------------------------------- code source for gradient text --------------------------------*/

//  https://cssgradient.io/blog/css-gradient-text/

/*-------------------------------- cards source gradient text --------------------------------*/



// ---------------------------
// Vars & Helper Functions
// ---------------------------


// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

/* =============
   Media quiries
   ============= */


/* =============   navigation  ============= */

@media (max-width: 960px) {
  .nav-menu {
    display: none;
  }
}


@media (max-width: 960px) {
  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    top: 0px;
    right: 0;
    margin: 0 auto;
    padding-top: 50px;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    transition: all 1s ease-in-out;
    pointer-events: none;
    background-color: rgb(1, 42, 70);
    padding-left: 0;
    z-index: 2; // Cards on about us page have z-index of 1
  }
}

@media (max-width: 960px) {

  .nav-menu-item {
    padding: 0 0 10px 10px;
    font-size: 1.5rem;
    border-bottom: 1.5px solid white;
  }
}

.nav-menu.open {
  clip-path: circle(1000% at 100%);
  pointer-events: all;
}


@media (max-width: 960px) {

  .nav-menu-item {
    background: linear-gradient(90deg, #2e8ac7, #00ff95 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 960px) {
  li.nav-menu-item.active {
    background: rgb(0, 247, 255);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 960px) {
  .site-logo {
    grid-column: 2;
    place-self: center;
    margin: 0;
  }
}

@media (max-width: 960px) {
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 20px 0;
  }
}


@media (max-width: 960px) {
  .social-icons-nav {
    font-size: 1.7em;
    border-bottom: 0;
    background: linear-gradient(90deg, #fff, #fff 70%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 961px) {
  .menuicon {
    display: none;
  }
}

@media (min-width: 961px) {
  div.social-icons-nav {
    display: none;
  }
}

// --------------------------------- card media quiries

@media (max-width: 870px) {
  .container-cards {
    padding: 50px 20px 50px 20px;
  }
}


@media (max-width: 710px) {
  .container-cards {
    margin: 0;
  }
}

@media (max-width: 689px) {
  .container-cards {
    place-items: center;
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 689px) {
  .card {
    min-width: 90%;
  }
}

@media (max-width: 576px) {
  .container-banner {
    margin: 0 10px 20px 10px;
  }
}

// @media (max-width: 576px) { // delete code after testing mobile
//   .codepen-container {
//     margin: 20px 10px;
//   }
// }