@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body,
html {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  height: 0;
}

h1 {
  font-weight: normal;
}

/*------------------------------------ Navigation styles */
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.header {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0em;
  letter-spacing: 0.1em;
}

.menu {
  margin-right: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header li {
  display: inline;
}

@media (max-width: 800px) {
  .header a {
    display: none;
  }
}

@media (min-width: 800px) {
  .menu a {
    position: relative;
  }
  .menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 20px;
    left: 0;
    background-color: #e52e71;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .menu a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu a {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    line-height: 1.4;
  }
  .window {
    display: block;
    margin: auto 0;
    -webkit-box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 3px;
    background: #F1F1F1;
  }
  .window .header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: transparent;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    z-index: 1;
  }
  .window .header .logo {
    position: fixed;
    display: block;
    background-image: url("../assets/images/codedev-logo.svg");
    height: 50px;
    width: 150px;
    background-repeat: no-repeat;
    z-index: 0;
    top: 10PX;
    right: 30%;
  }
  .window .header .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .window .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  .window .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #FFF;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .window .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  .window .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }
  .window .header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .window .header .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.65s;
            transition-delay: 0.65s;
  }
  .window .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
  }
  .window .header ul.menu li.menu-item {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
            transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .window .header ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.49s;
            transition-delay: 0.49s;
  }
  .window .header ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.42s;
            transition-delay: 0.42s;
  }
  .window .header ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .window .header ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  .window .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #FFF;
    font-family: "Ek Mukta", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
  }
  .window .header.menu-opened {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004e92));
    background: linear-gradient(to bottom, #000428, #004e92);
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  .window .header.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .window .header.menu-opened .burger-container #burger .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .window .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  .window .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .window .header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.27s;
            transition-delay: 0.27s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.34s;
            transition-delay: 0.34s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.41s;
            transition-delay: 0.41s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.48s;
            transition-delay: 0.48s;
  }
  .window .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .window .content {
    font-family: "Ek Mukta", sans-serif;
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;
  }
  .window .content::-webkit-scrollbar {
    display: none;
  }
  .window .content h2 {
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
  .window .content img {
    width: 95%;
    position: relative;
    display: block;
    margin: 75px auto 75px;
  }
  .window .content img:nth-of-type(2) {
    margin: 75px auto;
  }
}

.logo {
  position: fixed;
  margin-left: 20px;
  background-image: url("../assets/images/codedev-logo.svg");
  height: 50px;
  width: 200px;
  background-repeat: no-repeat;
  pointer-events: none;
}

/*-------------------------------- Banner --------------------------------*/
.banner {
  background: linear-gradient(121.39deg, #011627 16.87%, #394955 102.41%);
  color: white;
  padding: 20px 20px;
  min-height: 40vh;
  margin-bottom: 50px;
}

.banner h1 {
  margin-top: 150px;
  margin-left: 20px;
  font-size: 4em;
  margin-bottom: 0;
}

.banner p {
  margin-left: 20px;
  font-size: 1.5em;
  color: white;
}

.banner hr {
  color: white;
  margin-left: 20px;
  margin-top: -10px;
}

.banner-text {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .banner hr {
    max-width: 50%;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .container-banner > div {
    text-align: center;
  }
}

.button {
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}

.button1 {
  color: #2188ff;
  border: 1.5px solid #2188ff;
  text-align: center;
}

.button1:hover {
  border: 1.5px solid #c91258;
  color: white;
  text-align: center;
}

/*-------------------------------- cards --------------------------------*/
.container-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 30px;
  padding: 50px;
  background-color: #288ee2;
  max-width: 100%;
}

.card-text {
  text-align: center;
  background-color: #288ee2;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  color: white;
}

.card-text:hover {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-text h3:hover {
  color: #09cff1;
}

.card-text h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.card-text h3 {
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
  min-width: 80%;
}

.card-text p {
  font-size: 1.2em;
}

.card-text ul {
  list-style: none;
}

.card-text p,
li {
  display: block;
}

.card-text ul {
  padding: 0;
  margin: 0;
}

/*-------------------------------- card media quires --------------------------------*/
@media (max-width: 1000px) {
  .container-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px 40px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .container-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px 40px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .container-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/*--------------------------------  card media quires --------------------------------*/
/*-------------------------------- code source for gradient text --------------------------------*/
/*-------------------------------- cards source gradient text --------------------------------*/
/*# sourceMappingURL=style.css.map */