/* ====================
   getting started page
 ====================*/

.container-article {
  // container / main area of page / getting started page
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 3rem;
  grid-template-areas:
    "article-header"
    "article-aside"
    "article-main"
    "article-footer";

  .article-heading {
    grid-area: article-header;
  }

  .author-container {
    grid-area: article-aside;
  }

  .article-image {
    grid-area: article-main;
  }

  .article-text {
    grid-area: article-footer;
  }
}

@media only screen and (min-width: 750px) {
  .container-article {
    // container / main area of page / getting started page
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 5rem;
    padding: 2rem;
    gap: 1rem;
    grid-template-areas:
      "article-header article-main"
      "article-aside  article-aside  "
      " article-footer  article-footer";

    .article-heading {
      grid-area: article-header;
    }

    .author-container {
      grid-area: article-header;
      align-self: center;
    }

    .article-image {
      grid-area: article-main;
    }

    .article-text {
      grid-area: article-footer;
      margin-top: 3rem
    }
  }
}


.container-article {
  background: #ebe6e6;
  border-radius: 1rem;
  padding: 2rem;

  & a:hover {
      border-bottom: 2px solid;
    }
}

.container-article h1,
h2 {
  color: #405972;
}

.container-article h1 {
  margin: 0;
}

.container-article p {
  color: #54718f;
  line-height: 1.5;
}

.author-container {
  display: flex;
}

.img-laptop {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.blog-img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0d324d;
  margin-right: 1rem;
}

.article-text {
  font-size: 1.8rem;
  line-height: 2rem;
}

.article-text a {
  font-weight: bolder;
  color: #54718f;
}

.article-text h2 {
  font-family: $main-font--bold;
  margin-top: 6rem;
}