/* ====================
   getting started page
   ====================*/

.article {
  background-color: rgba(rgb(112, 110, 110), 0.2);
  margin-left: 20px;
  border-radius: 25px 0 0 0;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: auto auto;
  gap: 40px 50px;
  padding: 0 50px 0 50px;
  max-width: 1600px;
}

// .article-container h1,
// h2 {
//   color: #1b688f;
// }

.article-text h2 {
  padding-top: 20px;
  margin: 0;
}

.img-laptop {
  height: auto;
  width: 70%;
  margin-top: 18.5px;
}

.blog-container {
  border-bottom: 5px solid #1a75a1;
}

.blog-container p {
  margin-bottom: 2px;
}

.blog-img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0d324d;
  padding: 3px;
  z-index: -1;
}

.article-text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #555454;
}

.article a {
  color: #1b688f;
}
