/* ========================
   home page banner
   ======================== */
.container-hero-banner {
  display: grid;
  place-content: center;
  background-image: linear-gradient(315deg, #edeeff 0%, #0d324d 74%);
  min-height: 40vh;
  margin: 3rem 0 5rem 0;
  padding: 1.5rem;
}

.container-hero-content {
  grid-column: 2;
}

.container-hero-content h1 {
  font-size: 6.5rem;
  margin: 2rem 0 1rem;
}

.container__banner-h1 {
  text-decoration: underline;
}

.container__banner-p {
  border-bottom: 0.2rem solid white;
  display: inline-block;
  padding-bottom: 1rem;
  min-width: 40vw;
  font-size: 2.3rem;
}

/* ========================== list item grid items ========================== */
.content-grid {
  padding-top: 5rem;
}

.grid-gallery {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  grid-template-areas:
    "area-1 area-2 .. .." // a preiod is a empty fraction
    "area-4 area-5 .. ..";
}

.grid-gallery li {
  width: 100%;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.grid-gallery li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
  opacity: 0;
  transition: .5s;
}

.grid-gallery li:hover::before {
  opacity: 1;
}

.grid-item-1 {
  grid-area: area-1;
  background-image: url("../assets/images/luke-chesser-3rWagdKBF7U-unsplash.jpg");
}

.grid-item-2 {
  grid-area: area-2;
  background-image: url("../assets/images/simon-migaj-Yui5vfKHuzs-unsplash.jpg");
  margin-top: 20rem;
  right: 50px;
  grid-column: span 2;
}

.grid-item-3 {
  grid-area: area-4;
  background-image: url("../assets/images/luke-chesser-3rWagdKBF7U-unsplash.jpg");
  bottom: 7rem;
  min-width: 35rem;
}

.outline-text {
  // this moves the text out of grid item 3
  font-family: $alterntive-font;
  position: relative;
  right: 7rem;
  text-transform: uppercase;
  font-size: 4rem;
  color: #b4ebf1;
}

/* ========================  cards  ======================== */

.cards-header {
  font-family: $alterntive-font;
  color: gray;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: 3rem 0 15rem 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 20rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px;
  transition: ease-in-out 0.3s;
}

.card-right-side {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-left-side {
  padding: 1rem;
}

.icon-html {
  fill: #37206d;
}

.icon-css {
  fill: rgb(255, 60, 0);
}

.icon-js {
  fill: #dcdc4d;
}

.icon-twitter {
  fill: #0202a2;
}

.icon-github {
  fill: #37206d;
}

.icon-footer {
  width: 4rem;
  height: 4rem;
  fill: #52a0c1;
}
.icon-footer:hover {
  fill: rgb(43, 198, 226);
  border: 2px solid transparent;
}

.icon-large-cards {
  width: 8rem;
  height: 8rem;
}

.icon-small-cards {
  width: 3rem;
  height: 3rem;
}

.card-icon-html {
  // positioning for html icon on card
  grid-column: 1 / span 2;
  place-self: center;
  grid-row: 2;
}

.card-icon-twitter {
  // positioning for html icon on card
  grid-row: 1;
  grid-column: 3 / span 1;
  padding-right: 4rem;
}

.card-icon-github {
  // positioning for html icon on card
  grid-column: 3 / span 1;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-right: 5px;
}

.card-text-xs {
  // card text bottom right
  grid-row: third-line / 3;
  grid-column: 3;
  text-transform: uppercase;
  background-color: #7f5a83;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
  padding: 5px;
  border-radius: 0 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.card:hover {
  transform: translate(0, -1rem);
  box-shadow: rgba(0, 0, 0, 0.125) -1rem 1rem 4rem;

  h2 {
    color: rgb(9, 207, 241);
    ;
  }
}

.card-heading h1 {
  display: inline-block;
  border-bottom: 5px solid #37206d;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #333333;
}

.card p {
  font-family: $alterntive-font;
  font-size: 1.5rem;
  margin: 0;
  color: rgb(0, 0, 0);
}

.card ul {
  padding: 0;
}

.card li {
  padding: 1rem 0 1rem;
}

.card p:hover {
  color: #3ed3e7;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-3 p {
  padding-left: 3rem;
}

.card-4 p {
  padding-left: 3rem;
}
