/* ========================== 
   learn code page
========================== */

.dark-mode {
  // changes the navbar, body & footer color on page learn code
  background: #000;
}

.dark-text h1 {
  // This only effects the header h1 & the footer h1 elements
  background: -webkit-linear-gradient(45deg, #8d31c7 30%, #743ad5 30%, #d53a9d 80%);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-main-gs {
  // This sets out the grid template are for mobile
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 40rem auto;
  row-gap: 3rem;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer-top"
    "footer-bottom";

  .page__header-gs {
    grid-area: header;
  }

  .container__box-lg {
    grid-area: aside;
  }

  .container-code-snippet {
    grid-area: main;
  }

  .container__cards-gs {
    grid-area: footer-top;
  }

  .container__codepen {
    grid-area: footer-bottom;
  }
}

@media (min-width: 1000px) {
  .container-main-gs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20rem auto auto auto auto;
    grid-template-areas:
      "header header ..."
      " main main aside"
      "footer-top footer-top footer-top"
      "footer-bottom footer-bottom footer-bottom";

    .page__header-gs {
      grid-area: header;
      align-self: center;
    }

    .container__box-lg {
      grid-area: main;
      // margin-top: 4rem;
    }

    .container-code-snippet {
      grid-area: aside;
      // margin-top: 4rem;
    }

    .container__cards-gs {
      grid-area: footer-top;
    }

    .container__codepen {
      grid-area: footer-bottom;
    }

  }
}

.page__header-gs h1 {
  font-size: 4.5rem;
  padding-left: 2rem;
  background: -webkit-linear-gradient(45deg, #8d31c7 30%, #743ad5 30%, #d53a9d 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__heading {
  margin: 4rem 0 0 3rem;
}

.container__box-lg {
  height: 100%;
  width: 95%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;

  & ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  & li {
    width: 30%;
  }
}

.container__box-lg p {
  text-transform: uppercase;
  @include box-border-gradient; // This is a mixin that border gradient colors 
  @include box-border-gradient-purple; // These are mixin that border gradient colors
  padding: 5px 1rem;
  text-align: center;
}

.container-lg-icon {
  position: relative;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
  width: auto;
}

.container__cards-gs {
  @include border-gradient; // This is a mixin that adds border gradients around the cards container 
}

.container__codepen {
  @include border-gradient--oposite;
}

/* ======================== This is for the container with code snippets  ======================== */

.container-code-snippet {
  display: grid;
  justify-content: center;
  height: 90%;
  width: 90%;
  background: linear-gradient(190deg, #4c4f57 10%, #020202 90%);
  border-top-right-radius: 2rem;
}

.code-snippet-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.code-snippet-html {
  @include code-snippet-card; // This mixin creates cards & adds relative positioning
  bottom: 1rem;
  left: 1rem;
}

.code-snippet-css {
  @include code-snippet-card; // This mixin creates cards & adds relative positioning
  bottom: 6rem;
  right: 3rem;
}

.code-snippet-js {
  @include code-snippet-card;
  bottom: 10rem;
  left: 1rem;
}

.mac-screen-icon {
  grid-row: 1;
  width: auto;
  height: 1rem;
  margin-left: 1rem;
}

.code-snippet-grid h2 {
  grid-row: 1;
  justify-self: center;
  font-size: 1.5rem;
  color: white;
}

.code-snippet-grid p {
  grid-row: 2;
  grid-column: 1 / span 3;
  justify-self: center;
  margin: 0;
}

/* ======================== cards container  ======================== */

.tech-card-container { // this card effects code was obtained from css tricks see readme
  display: flex;
  padding: 50px 30px;
  overflow: auto;
}

.tech-card {
  display: flex;
  flex-direction: column;
  background-color: #1f1d1d;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.75);
  padding: 1.5rem;
  border-radius: 2rem;
  transition: 0.4s;
  min-width: 25rem;
  max-width: 25rem;
  height: 40rem;
}

.tech-card:not(:first-child) {
  margin-right: -8rem;
}

.tech-card:hover {
  ~.tech-card {
    // (~) targets cards adjacent to cards selected
    transform: translateX(10rem);
  }
}

.tech-card:hover {
  transform: translateY(-1rem);
}

.tech-card h2 {
  text-align: center;
  color: white;
}

.tech-card p {
  font-size: 1.7rem;
  padding: 1.5rem 0 0 1rem;
}

.tech-icon {
  height: 4rem;
  width: auto;
}

.go-icon {
  // Altered size to match other icons
  height: 6rem;
  width: auto;
}

.button-tech {
  margin-top: auto; // places button on bottom of flex card container
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 5px 0 5px 0;
  @include box-border-gradient;
  @include box-border-gradient-purple;
  transition: 0.5s;
}

.button-tech:hover {
  color: #2188ff;
}

/* ======================== codepen container  ======================== */

.codepen-editor {
  padding: 2rem;
}