/* ========================== 
   footer
   ========================== */
.footer-wrapper {
  background-image: url("../assets/images/icons/wave.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem 10rem;
  max-width: 160rem; // width of page wrap // wrapper not used as it effects the svg on the footer warpper while using grid
  padding: 1rem;
  padding-top: 5rem;
  margin: auto;
}

.footer-nav-links h1 {
  font-size: 2.3rem;
  color: #52a0c1;
}

.footer-nav-links li {
  font-size: 2.0rem;
  color: white;
  padding-bottom: 5px;
}

.footer-nav-links li:hover {
  color: rgb(180, 212, 231);
}

.footer-nav-links h1 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}

.footer-icons ul {
  display: flex;
}

.footer-icons li {
  padding: 1rem;
}

.footer-icons-container {
  align-self: center;
}

.footer-logo-container {
  align-self: center;
}

.footer-logo {
  display: block; // will not display logo if not display block
  background: url("../assets/images/icons/site-logo.svg") no-repeat;
  height: 3rem;
  width: 20rem;
}


@media only screen and (max-width: 800px) {
  .footer-container {
    justify-items: center;
    gap: 2rem;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr;
  }

  .footer-nav-links li {
    justify-self: center;
  }

  .subscribe-container {
    display: none;
  }
}


@media only screen and (min-width: 800px) {

  &.footer-icons {
    grid-row: 2;
    grid-column: 1;
  }

  .footer-logo-container {
    grid-column: 2;
    grid-row: 2
  }

  .subscribe-container {
    grid-row: 2;
    grid-column: 3;
    margin-bottom: 3rem;
    align-self: end; // this aligns the container to he bootom of grid row two
    // removal wiill cause the container to push down from the grid
  }

}