/* ========================== 
   footer
   ========================== */

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto ;
  row-gap: 10px;
  background-image: linear-gradient(315deg, #0d324d 74%, #7f5a83 0%, );
  padding: 0;
  text-align: center;
  place-items: center; //effects color of text
}

.footer-h1 {
  font-family: $secondary-font;
  background: -webkit-linear-gradient(40deg, #2e8ac7, #00ff95 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0 30px;
}

.footer-icons-block {
  display: flex;
  padding-left: 0;
}

.footer-icons {
  height: 5rem;
  width: auto;
  padding: 10px 30px;
}

.footer-item-3 li{
  position: relative;
} 
.footer-item-3 li::before {
  position: absolute;
  content: "";
  background-color: gray;
  height: 100%;
  width: 2px;
  left:0;
  visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.footer-item-3 li:hover::before {
  color: red;
  visibility: visible;
  transform: scaleX(1);
}

.footer-item-4 h2 {
  color: #9e286b;
  margin-top: 0;
}