/* =============
   global styles
============= */
body,
html {
  margin: 0 auto;
  padding: 0;
  color: white;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* ul {
  padding: 0;
}

.page-wrap {
  max-width: 150rem;
  margin: 0 auto;
  padding: 1rem;
}

.page-wrap-blog {
  max-width: 130rem;
  margin: auto;
  padding: 1rem;
}

.nav-wrapper {
  max-width: 160rem;
  margin: 0 auto;
}