/* =============
   global styles
============= */

body,
html {
  margin: 0 auto;
  padding: 0;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* li {
  list-style: none; 
}
* a {
  text-decoration: none;
}
