/* ============================
   navigation mobile
======================== */

@media screen and (max-width: 899px) {
  nav {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 50px;
  }

  .nav-links {
    // This clip path effect for mobile menu is not original work see readme document for credits
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 0;
    clip-path: circle(10px at 0% -10%);
    -webkit-clip-path: circle(10px at 0% -10%);
    transition: all 1s ease-in-out;
    pointer-events: none;
    background-color: #1a1c1d;
    z-index: 2; // Cards on about us page have z-index of 1
  }

  .nav-links li {
    font-size: 2rem;
    padding: 30px 0 10px 0px;
    margin-left: 30px;
  }

  .nav-links.open {
    clip-path: circle(1000% at 100%);
    pointer-events: all;
  }

  // Displays a content bar below the navbar //
  .nav-links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 55px;
    background-color: #425778;
  }

  .site-logo {
    background: url("../assets/images/icons/site-logo.svg") no-repeat;
    grid-row: 1;
    place-self: center;
    width: 190px;
    height: 25px;
    margin: 0;
    z-index: 3;
  }

  .mobile-menu {
    grid-row: 1;
    justify-self: end;
    margin-right: 20px;
    z-index: 3;
  }

  .bar {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #00f7ff;
    transition: 0.5s;
  }

  .transform .bar--1 {
    transform: rotate(-45deg) translate(-9px, 8px);
  }

  .transform .bar--2 {
    opacity: 0;
  }

  .transform .bar--3 {
    transform: rotate(45deg) translate(-3px, -3px)
  }

}

/* =====================
      navigation desktop
======================== */

@media screen and (min-width: 900px) {
  nav {
    display: grid;
    grid-template-columns: auto 50rem;
    align-items: center;
    min-height: 6rem;
    margin: 2rem 0 2rem 2rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .active a {
    color: rgb(0, 247, 255)
  }

  .site-logo {
    background: url("../assets/images/icons/site-logo.svg") no-repeat;
    height: 25px;
    width: auto;
    margin-left: 20px;
  }

  .mobile-menu {
    display: none;
  }
}

// This is for underline transition effect under the navigation links
.nav-links li {
  position: relative;
}

.nav-links li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #e52e71;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-links li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

nav a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dark-code-nav {
  background-image: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 5rem;
    background-color: #00f7ff;
  }
}


#header-standard {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}