@font-face {
  font-family: 'Montserrat-Regular', ;
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

// Font variables

$main-font: 'Montserrat-Regular';
$main-font--bold: 'Montserrat-Bold';

$alterntive-font : 'IBM Plex Sans', sans-serif;




body {
  font-family: $main-font;
  font-weight: normal;
}

html {
  font-size: 62.5%; // defines 1 rem equal to 10px
}

/* Modules will scale with document */ 
nav {
  font-size: 1.5rem;
}

main {
  font-size: 1.7rem;
}

footer {
  font-size: 1.3rem;
}
