@mixin code-snippet-card {
  position: relative;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #1f1d1d;
  box-shadow: 1rem 1.5rem 0 rgba(23, 22, 22, 0.6); //[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]
  text-align: center;
}

@mixin border-gradient {
  position: relative;
  background-color: rgb(12, 12, 12);
  border: 5px solid transparent;
  border-left-width: 0;
  border-top-right-radius: 1rem;
  background-clip: content-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px -5px 0 0;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(#00c4cb));
    background: linear-gradient(to right, #d53a9d, #00c4cb);
  }
}

@mixin border-gradient--oposite {
  position: relative;
  background-color: rgb(12, 12, 12);
  border: 5px solid transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-clip: content-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px 0 -5px -5px;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#d53a9d), to(orange));
    background: linear-gradient(to right, #d53a9d, #00c4cb);
  }
}


//border gradient credit css trick https://css-tricks.com/gradient-borders-in-css/
@mixin box-border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
@mixin box-border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}